#
# Copyright (C) 2019 The Zap Kernel Project. All rights reserved.
#
# Zap-Kernel Configuration based on Synergy Tweaks by gj86
# Custom Kernel for Nougat AOSP based ROMs
# By: jprimero15 <jprimero155@gmail.com>
#
# This script is licensed under the terms of the GNU General Public 
# License version 2, as published by the Free Software Foundation, 
# and may be copied, distributed, and modified under those terms.
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#

on property:sys.boot_completed=1
  stop mpdecision

# IO Tweaks
  write /sys/block/mmcblk0/queue/iostats 0
  write /sys/block/mmcblk1/queue/iostats 0
  write /sys/block/mmcblk0/queue/rq_affinity 1
  write /sys/block/mmcblk1/queue/rq_affinity 1
  write /sys/block/mmcblk0/queue/add_random 0
  write /sys/block/mmcblk1/queue/add_random 0
  write /sys/block/mmcblk0/queue/scheduler fiops
  write /sys/block/mmcblk1/queue/scheduler fiops

# Disable Kernel Panic
  write /proc/sys/vm/panic_on_oom 0
  write /proc/sys/kernel/panic 0
  write /proc/sys/kernel/panic_on_oops 0

# Set CPU Min/Max Frequency
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 268800
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2265600
  write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 268800
  write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2265600
  write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 268800
  write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2265600
  write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 268800
  write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 2265600

# Set CPU Governor
  # Interactive tweaks
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
  write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
  restorecon_recursive /sys/devices/system/cpu/cpufreq/interactive   
  write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1190400:60000 1728000:74000 1958400:82000 2265600:120000"
  write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 99
  write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1190400
  write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
  write /sys/devices/system/cpu/cpufreq/interactive/target_loads "98 268000:28 300000:12 422400:34 652800:41 729600:12 883200:52 960000:9 1036800:8 1190400:73 1267200:6 1497600:87 1574400:5 1728000:89 1958400:91 2265600:94"
  write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
  write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 40000
  write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 80000
    
# Set GPU Governor tweaks
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
  write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 100000000
  write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 600000000
  write /sys/class/kgsl/kgsl-3d0/max_gpuclk 450000000

# Set Adreno Idler
  write /sys/module/adreno_idler/parameters/adreno_idler_active Y
  write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 30
  write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 15
  write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 10000

# Set Simple GPU Algorithm
  write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_activate 1
  write /sys/module/simple_gpu_algorithm/parameters/simple_gpu_debug 0
  write /sys/module/simple_gpu_algorithm/parameters/simple_ramp_threshold 10000
  write /sys/module/simple_gpu_algorithm/parameters/simple_laziness 1

# Set Multi-Core Power Saving
  write /sys/devices/system/cpu/sched_mc_power_savings 1
  write /sys/module/workqueue/parameters/power_efficient Y

# Disable Cpu Boost
  write /sys/module/cpu_boost/parameters/cpuboost_enable N
	
# Set Default TCP Congestion
  chmod 777 /proc/sys/net/ipv4/tcp_congestion_control
  write /proc/sys/net/ipv4/tcp_congestion_control "westwood"
    
# Cpusets
  write /dev/cpuset/top-app/cpus 0-3
  write /dev/cpuset/foreground/boost/cpus 0-2
  write /dev/cpuset/foreground/cpus 0-2
  write /dev/cpuset/background/cpus 0
  write /dev/cpuset/system-background/cpus 0-2

# Add a cpuset for the mm-qcamera-daemon
# Use all cores for camera
  mkdir /dev/cpuset/mm-qcamera-daemon
  write /dev/cpuset/mm-qcamera-daemon/cpus 0-3
  write /dev/cpuset/mm-qcamera-daemon/mems 0
  chown system system /dev/cpuset/mm-qcamera-daemon
  chown system system /dev/cpuset/mm-qcamera-daemon/tasks
  chmod 0664 /dev/cpuset/mm-qcamera daemon/tasks

# Cpuctl
  write /sys/devices/system/cpu/cpuctl 1
  write /dev/cpuctl/cpu.shares 1024
  write /dev/cpuctl/cpu.rt_runtime_us 800000
  write /dev/cpuctl/cpu.rt_period_us 1000000
  write /dev/cpuctl/cpu.notify_on_migrate 1
  write /dev/cpuctl/notify_on_release 1
  write /dev/cpuctl/bg_non_interactive/cpu.shares 52
  write /dev/cpuctl/bg_non_interactive/cpu.rt_runtime_us 700000
  write /dev/cpuctl/bg_non_interactive/cpu.rt_period_us 1000000
  write /dev/cpuctl/bg_non_interactive/cpu.notify_on_migrate 1
  write /dev/cpuctl/bg_non_interactive/notify_on_release 1

# Scheduler tuning
  write /dev/stune/foreground/schedtune.prefer_idle 1
  write /dev/stune/top-app/schedtune.boost 10
  write /dev/stune/top-app/schedtune.prefer_idle 1
  write /proc/sys/kernel/sched_wake_to_idle 0

# Setup Hotplug
  write /sys/kernel/msm_mpdecision/conf/enabled 0

